@import 'config';
@import 'animations';

#alertpal {
	#alertpal_bg {
		display: none;
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		background-color: #000;
		opacity: 0.5;
		z-index: 98;
		@include animation(fadeIn ease 0.2s);
	}

	#alertpal_alert {
		display: none;
		box-sizing: border-box;
		position: fixed;
		padding: 20px;
		width: 450px;
		max-height: 60%;
		top: 20%;
		left: calc(50% - 225px);
		background-color: $dark_bg;
		border-radius: 5px;
		box-shadow: $shadow;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 99;
		@include animation(popUp ease 0.2s);
	}

	.alertpal_modal {
		width: 80% !important;
		max-height: 80% !important;
		left: 10% !important;
		top: 10% !important;
	}

	#ap_title {
		margin: 0;
		font-family: $font;
		font-size: 25px;
		color: #fff;
	}

	#ap_description {
		margin: 25px 0;
		font-family: $font;
		font-size: 16px;
		color: #fff;
	}

	#ap_buttons {
		float: right;
	}

	#ap_cancel,
	#ap_ok {
		margin: 0 2px 1px 2px;
		padding: 7px 10px;
		background-color: #1c84b6;
		border-radius: 2px;
		border: none;
		outline: none;
		font-family: $font;
		font-size: 14px;
		font-weight: 600;
		color: #fff;
		cursor: pointer;
		@include no-select;
	}

	#ap_cancel {
		background: none;
	}

	#ap_cancel:hover {
		background-color: lighten($dark_bg, 10%);
	}

	#ap_ok:hover {
		background-color: lighten($primary-color, 10%);
	}

	#alertpal_message_container {
		position: fixed;
		top: 0;
		right: 0;
		pointer-events: none;
	}

	.ap_message {
		position: relative;
		margin: 5px 5px 10px 5px;
		padding: 10px 20px;
		width: 250px;
		border-radius: 2px;
		box-shadow: $shadow;
		font-family: Arial;
		font-size: 16px;
		text-align: center;
		transition: $quickTransition;
		overflow-wrap: break-word;
		pointer-events: auto;
		cursor: pointer;
		@include animation(rollDown ease 0.2s);
		@include no-select;
	}

	.success {
		background-color: $success;
		color: #fff;
	}

	.warn {
		background-color: $warn;
		color: $dark-text;
	}

	.error {
		background-color: $error;
		color: #fff;
	}

	.normal {
		background-color: $dark_bg;
		color: #fff;
	}
}

/*
 * Media Queries
 */

@import '400px_mq';
